/* CSS */
.circle {
    position: absolute;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: -35px; 
}
body {
    background-image: url(./assets/images.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}